body{
  text-align: center;
  background: crimson;
  color: white;
  a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
}

#footer-holder{
  display:block;
  position: fixed;
  bottom: 30px;
  width: 100%;
}

#welcome-picture{
  height: 20em;
  width: auto;
}

#welcome-jumbotron{
  padding: 3em;
}
