body{
  text-align: center;
  background: #E7E5DF;
  color: black;
  a{
    color: black;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
}

.container{
  padding-bottom: 80px;
  position:relative;
}

hr{
  border-color: black;
}

#footer-holder{
  position: absolute;
  bottom: 30px;
  width: 100%;
}

#welcome-picture{
  height: 20em;
  width: auto;
}

#welcome-jumbotron{
  padding: 3em;
  background-color: rgba(219, 221, 66, .7);
  border-radius: 2%;
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
